# ENV
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/

# Prisma
prisma/dev.db

# Security
scripts/createSuperAdmin.ts
scripts/.superadmin.lock

# Logs
logs/
*.log

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
